.button{
    display: flex;
    align-items: center;
    background: #0077ff;
    padding: 10px 20px;
    border: none;
    outline: none;
    color: white;
    font-family: inherit;
    font-size: 0.9375rem;
    font-weight: 700;
    letter-spacing: 0.7px;
    border-radius: 20px;
    margin: 25px auto;
    cursor: pointer;
    transition: .3s all;
}
.button:hover{
    background: #0165d6;
}